.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    height: 100px;
    width: 300px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
