.reviewcard {
  display: flex;
  flex-shrink: 1;
  height: 1000px;
  width: 100%;
  border-bottom: 1px solid white;
  flex-direction: column;
  justify-content: center;
}

.reviewauthor {
  display: flex;
  position: relative;
  top: -50px;
  left: 26%;
  color: rgb(129, 127, 127);
}

.reviewimg {
  display: inline-flex;
  position: relative;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
}

.userimage {
  display: flex;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  top: 3%;
  left: 3%;
}

.ccard {
  display: inline-flex;
  position: relative;
  flex-direction: row;
}

.commentsvotes {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  color: rgb(178, 177, 177);
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.votes {
  background-color: transparent;
  border: transparent;
  font-size: 1.3rem;
  color: rgb(178, 177, 177);
  transition: transform 0.4s;
}

.reviewtitle {
  color: white;
}

.votes:hover {
  transform: translateY(-4px);
}

@media screen and (max-width: 1250px) {
  .reviewcard {
    flex-basis: 410px;
  }
}
